<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<div>
  {{#if logged_in}}
  <form class="new-comment-form d-flex flex-column justify-content-center"  data-blogid={{id}}>
    <div class="textarea-container">
      <textarea class="ml-5" class="c-body" id="comment-description" ></textarea>
    </div>
    <div class="button-container">
      <button class="button is-warning ml-5 mb-5" type="submit">Add Comment</button>
    </div>
  </form>
{{/if}}
<div>
  {{#each comments as |comment|}}
  <div class="comment-box">
    <p>{{comment.comment_content}}</p>
  </div>
  {{/each}}
</div>
  <script src="/js/comments.js"></script>